openapi: 3.1.0
info:
  title: SafePass Client Apps API (Visitor Management + Mapping)
  version: 1.0.0
  summary: Subset of the SafePass API covering the operations the Visitor Management and Mapping client apps perform.
  description: |-
    A focused subset of the SafePass API contract containing only the operations the Visitor Management and Mapping apps perform. Administration, kiosk, and other internal surfaces are excluded.
    Each path carries an `x-apps` marker: `visitor` (Visitor Management), `mapping` (Mapping), or `shared` (both apps).
    Response shapes explicitly marked PROVISIONAL (the metrics group, the auth scope/one-time-code group, and the scope tree) will be frozen before build start; all other shapes are stable and live.
  contact:
    name: SafePass Platform
    email: jonathan.sargent@safepass.com
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://api.safepass.com/v1
    description: Production
security:
  - cognitoBearer: []
tags:
  - name: Auth
    description: Principal resolution (whoami), permission-scope introspection, and one-time-code re-verification (shapes provisional).
  - name: Organizations
    description: Organization scope tree for scope pickers.
  - name: Media
    description: Pre-signed media uploads (visitor photos, floorplan images).
  - name: Users
    description: The signed-in user's own profile, avatar, and settings.
  - name: Org Hierarchy
    description: Divisions, locations, buildings (read-only in these apps).
  - name: Devices
    description: Read-only device and station state (badges, readers, stations) for status displays and station selection.
  - name: Visitors
    description: Visitor records (org-scoped), photos, and face enrollment.
  - name: Visits
    description: Visit lifecycle — scheduling, check-in/out, badge assignment, and events.
  - name: Host Contacts
    description: Host-contact directory reads and suggestions. Hosts are attached (and created via dedupe-guarded upsert) inline on visitor / visit / check-in requests.
  - name: Notifications
    description: User notifications — list, SSE stream, and read-state.
  - name: Metrics
    description: Operational dashboard metrics and timeseries (response shapes provisional).
  - name: Badge Swipes
    description: RFID reader scan records (read + CSV export).
  - name: Mapping
    description: Floors, geofences, routes, route versions, waypoints, calibration sessions, fingerprints, radio-map publish/status, and live/historical tracking.
paths:
  /whoami:
    x-apps:
      - shared
    get:
      operationId: getWhoAmI
      summary: Resolve the authenticated principal
      description: Returns the authenticated principal (a Cognito user or an org-scoped API token) and its resolved org scope, scope identity, and effective permissions. Response uses the `{ data }` envelope.
      tags:
        - Auth
      responses:
        '200':
          description: The authenticated principal and its resolved access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoAmIEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/scopes:
    x-apps:
      - shared
    get:
      operationId: listScopes
      summary: List the authorization scope catalog
      description: Returns the scope/permission catalog used to build grants. Response shape is PROVISIONAL.
      tags:
        - Auth
      responses:
        '200':
          description: The scope catalog (provisional shape).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    additionalProperties: true
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/otp/request:
    x-apps:
      - shared
    post:
      operationId: requestOtp
      summary: Request an OTP code
      description: Request a one-time passcode (email-only for now) for an OTP-gated org/user. Request and response shapes are PROVISIONAL.
      tags:
        - Auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              additionalProperties: true
      responses:
        '200':
          description: OTP requested (provisional shape).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/otp/verify:
    x-apps:
      - shared
    post:
      operationId: verifyOtp
      summary: Verify an OTP code
      description: 'Verify a one-time passcode and obtain an `otp_session` (sent on subsequent requests via `X-Otp-Session` or `Authorization: Bearer otp:<session>`). Request and response shapes are PROVISIONAL.'
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: OTP verified; session issued (provisional shape).
          content:
            application/json:
              schema:
                type: object
                properties:
                  otp_session:
                    type: string
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orgs/{orgID}/scope-tree:
    x-apps:
      - shared
    parameters:
      - name: orgID
        in: path
        required: true
        description: Organization id.
        schema:
          type: string
    get:
      operationId: getOrgScopeTree
      summary: Get the org scope tree
      description: Nested organization -> divisions -> locations -> buildings -> zones tree for scope pickers. Response shape is PROVISIONAL pending confirmation of the hierarchy entities' wire serialization.
      tags:
        - Organizations
      responses:
        '200':
          description: The scope tree (provisional shape).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScopeTree'
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /media/uploads:
    x-apps:
      - shared
    post:
      operationId: requestMediaUpload
      summary: Request a pre-signed media upload
      description: Returns a `media_id` + pre-signed `upload_url`. PUT the bytes to that URL with the returned `headers`, then call the complete endpoint.
      tags:
        - Media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaUploadRequest'
      responses:
        '201':
          description: Upload slot created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /media/uploads/{mediaID}/complete:
    x-apps:
      - shared
    parameters:
      - name: mediaID
        in: path
        required: true
        description: The media_id returned by the upload request.
        schema:
          type: string
    post:
      operationId: completeMediaUpload
      summary: Mark a media upload complete
      description: Call after the client PUTs the bytes to the presigned URL; promotes the asset to READY.
      tags:
        - Media
      responses:
        '200':
          description: The finalized media asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /media/{mediaID}:
    x-apps:
      - shared
    parameters:
      - name: mediaID
        in: path
        required: true
        description: Media asset id.
        schema:
          type: string
    get:
      operationId: getMedia
      summary: Get a media asset
      description: Fetch a media asset record, including a signed `url` once READY.
      tags:
        - Media
      responses:
        '200':
          description: The media asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/me:
    x-apps:
      - shared
    get:
      operationId: getMe
      summary: Get the current user
      description: The authenticated principal's own user record.
      tags:
        - Users
      responses:
        '200':
          description: The current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: updateMe
      summary: Update the current user
      description: Self-service profile update for the authenticated user.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeRequest'
      responses:
        '200':
          description: The updated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/me/avatar:
    x-apps:
      - shared
    put:
      operationId: updateMyAvatar
      summary: Set the current user's avatar
      description: Attach a previously uploaded media asset as the caller's avatar.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - media_id
              properties:
                media_id:
                  type: string
                  description: A READY media asset to use as the avatar.
      responses:
        '200':
          description: The updated user (avatar attached).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/me/settings:
    x-apps:
      - shared
    get:
      operationId: getUserSettings
      summary: Get the current user's settings
      description: Per-user UI/preference settings.
      tags:
        - Users
      responses:
        '200':
          description: The user's settings.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateUserSettings
      summary: Update the current user's settings
      description: Update per-user UI/preference settings.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingsUpdateRequest'
      responses:
        '200':
          description: The updated settings.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/UserSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orgs/{orgID}/divisions:
    x-apps:
      - shared
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listDivisions
      summary: List divisions
      description: Divisions for an org.
      tags:
        - Org Hierarchy
      responses:
        '200':
          description: Divisions.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Division'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/locations:
    x-apps:
      - shared
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listLocations
      summary: List locations
      description: Locations for an org.
      tags:
        - Org Hierarchy
      responses:
        '200':
          description: Locations.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/buildings:
    x-apps:
      - shared
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listBuildings
      summary: List buildings
      description: Buildings for an org.
      tags:
        - Org Hierarchy
      responses:
        '200':
          description: Buildings.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Building'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /devices:
    x-apps:
      - shared
    get:
      operationId: listDevices
      summary: List devices
      description: Keyset-paginated, server-sorted list of registered devices. `name` is a free-text match across label/model/mac/serial/rfid/type/status/state.
      tags:
        - Devices
      parameters:
        - name: org_id
          in: query
          description: Scope to an organization.
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/IncludeCount'
        - name: name
          in: query
          description: Free-text match across label/model/mac/serial/rfid/type/status/state.
          schema:
            type: string
        - name: type
          in: query
          description: Comma-separated device type filter (IN-list).
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: division_id
          in: query
          schema:
            type: string
        - name: location_id
          in: query
          schema:
            type: string
        - name: building_id
          in: query
          schema:
            type: string
        - name: zone_id
          in: query
          schema:
            type: string
        - name: station_id
          in: query
          schema:
            type: string
        - name: expand
          in: query
          description: 'Comma-separated: stats (reader rolling swipe counts).'
          schema:
            type: string
      responses:
        '200':
          description: A page of devices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /devices/{id}:
    x-apps:
      - shared
    parameters:
      - name: id
        in: path
        required: true
        description: Device id.
        schema:
          type: string
    get:
      operationId: getDevice
      summary: Get a device
      description: Fetch a single device. Returns `ETag` (device version) for optimistic concurrency on PATCH.
      tags:
        - Devices
      responses:
        '200':
          description: The device.
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /visitors:
    x-apps:
      - visitor
    get:
      operationId: listVisitors
      summary: List visitors
      description: Keyset-paginated, server-sorted list of visitors for an org. Follows the shared Pagination & Sort Contract. Each item's `host_contact` is hydrated from the live host_contacts row when linked.
      tags:
        - Visitors
      parameters:
        - name: org_id
          in: query
          required: true
          description: Organization to scope the list to.
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: sort
          in: query
          description: 'Default `-updated_at`. Allowed: created_at, updated_at, first_name, last_name, reviewed_at, company.'
          schema:
            type: string
        - $ref: '#/components/parameters/IncludeCount'
        - name: status
          in: query
          description: Comma-separated status filter (IN-list).
          schema:
            type: string
        - name: name
          in: query
          description: ILIKE across first_name / last_name / email.
          schema:
            type: string
        - name: type
          in: query
          description: Comma-separated visitor type (IN-list).
          schema:
            type: string
        - name: company
          in: query
          description: Exact case-insensitive match (comma-separated for IN-list); use `company_match=like` for substring.
          schema:
            type: string
        - name: company_match
          in: query
          description: '`exact` (default) or `like` (ILIKE substring).'
          schema:
            type: string
            enum:
              - exact
              - like
        - name: include_deleted
          in: query
          schema:
            type: boolean
        - name: reviewer_id
          in: query
          schema:
            type: string
        - name: reviewed_after
          in: query
          schema:
            type: string
            format: date-time
        - name: reviewed_before
          in: query
          schema:
            type: string
            format: date-time
        - name: has_active_breach
          in: query
          description: Visitors whose active visit is breached. Gated by GEOFENCE_DETECTION_ENABLED.
          schema:
            type: boolean
        - name: ever_breached
          in: query
          description: Visitors with at least one historical breached visit.
          schema:
            type: boolean
        - name: expand
          in: query
          description: 'Comma-separated: company_logo, host_contact, geofence_status, geofence_stats.'
          schema:
            type: string
      responses:
        '200':
          description: A page of visitors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createVisitor
      summary: Create a visitor
      description: Create (or non-blockingly reuse) a visitor. Identity resolution can reuse a faceless existing record (`200`) or create + queue a merge candidate (`201`). See api-spec.md for the three response branches and reuse-patch policy. `Idempotency-Key` supported.
      tags:
        - Visitors
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: UUID to make the create idempotent across retries.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVisitorRequest'
      responses:
        '200':
          description: Reused an existing faceless visitor record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorCreateResponse'
        '201':
          description: Created a new visitor (possibly with a merge candidate queued).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
  /visitors/bulk:
    x-apps:
      - visitor
    post:
      operationId: bulkCreateVisitors
      summary: Bulk-import visitors from CSV
      description: 'Multipart CSV upload (field `file`). Per-row hooks: visitor-type validation, E.164 phone composition, picture/logo URL fetch (non-fatal), host-contact upsert. Picture/logo failures land in `rows[].warnings`. See api-spec.md for the canonical column set and aliases. Min role: location_admin.'
      tags:
        - Visitors
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          required: true
          description: UUID — required for bulk import.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV with the canonical visitor columns.
      responses:
        '200':
          description: Per-row import report (rows may individually succeed or be rejected).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreateReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /visitors/bulk/template:
    x-apps:
      - visitor
    get:
      operationId: getVisitorBulkTemplate
      summary: Download the visitor bulk-import CSV template
      description: 'Returns a CSV with the canonical column headers and one example row keyed off the org''s first effective visitor type. The `X-Visitor-Types` response header echoes the effective list. Min role: location_admin.'
      tags:
        - Visitors
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: CSV template.
          headers:
            X-Visitor-Types:
              description: Comma-separated effective visitor types for the org.
              schema:
                type: string
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="visitors-bulk-template.csv"
          content:
            text/csv:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /visitors/{id}:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visitor id.
        schema:
          type: string
    get:
      operationId: getVisitor
      summary: Get a visitor
      description: Fetch a single visitor. Returns `ETag` (the visitor version) for optimistic concurrency on PATCH.
      tags:
        - Visitors
      parameters:
        - name: expand
          in: query
          description: 'Comma-separated: company_logo, host_contact, geofence_status, geofence_stats.'
          schema:
            type: string
      responses:
        '200':
          description: The visitor.
          headers:
            ETag:
              description: Current visitor version; pass back as `If-Match` on PATCH.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateVisitor
      summary: Update a visitor
      description: Partial update. Supports an inline `host_contact` upsert (requires email or phone) and `company_logo_url` ingestion. Pass `If-Match` with the visitor's current version for optimistic concurrency.
      tags:
        - Visitors
      parameters:
        - name: If-Match
          in: header
          required: false
          description: Visitor version (ETag) for optimistic concurrency.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitorWrite'
      responses:
        '200':
          description: The updated visitor (host_contact echoed from the live row when upserted).
          headers:
            ETag:
              description: New visitor version.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteVisitor
      summary: Soft-delete a visitor
      description: 'Soft delete. Deleted visitors are treated as not-found in identify/check-in lookups. Min role: location_admin.'
      tags:
        - Visitors
      responses:
        '204':
          description: Visitor soft-deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /visitors/{id}/photos:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visitor id.
        schema:
          type: string
    get:
      operationId: listVisitorPhotos
      summary: List a visitor's photos
      description: Photo-history rows for the visitor (active + superseded).
      tags:
        - Visitors
      responses:
        '200':
          description: The visitor's photos.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VisitorPhoto'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: attachVisitorPhoto
      summary: Attach a visitor photo
      description: Attach a READY media asset as a visitor photo and (best-effort) index the face. Quality filter is bypassed on first photo / retry-after-failed-index.
      tags:
        - Visitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - media_id
              properties:
                media_id:
                  type: string
                  description: A READY media asset in the visitor's org.
      responses:
        '200':
          description: Photo attached (face indexing best-effort).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VisitorPhoto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /visitors/{id}/face-reindex:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visitor id.
        schema:
          type: string
    post:
      operationId: reindexVisitorFace
      summary: Retry face indexing for a visitor
      description: 'Admin/tuning surface to re-run Rekognition indexing with a (better) photo, bypassing the quality filter by default. Use when initial indexing produced an empty `face_id`. Idempotent-ish — repeated calls with the same media are safe. Min role: location_admin. Returns `ETag` (new visitor version).'
      tags:
        - Visitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaceReindexRequest'
      responses:
        '200':
          description: Reindex result with the quality assessment.
          headers:
            ETag:
              description: New visitor version.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaceReindexResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /visitors/{id}/checkin/preflight:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visitor id.
        schema:
          type: string
    post:
      operationId: checkInVisitorPreflight
      summary: Pre-flight a visitor check-in
      description: Non-mutating gate check for a front-desk check-in. Validates org/location/ building scope and runs the same blockers as submit (in-progress / already checked-in, review required, availability, queue capacity, badge availability) WITHOUT creating a visit. Use it to drive the Check-In button state. A `200` means the gates currently pass — it is not a reservation.
      tags:
        - Visits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInPreflightRequest'
      responses:
        '200':
          description: All gates pass; check-in may currently proceed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckInPreflightResponse'
        '400':
          description: Invalid body or missing required field. `code` ∈ { BAD_JSON, ORG_MISMATCH, LOCATION_REQUIRED, BUILDING_REQUIRED, BAD_REQUEST }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: A check-in blocker is active. `code` ∈ { VISITOR_ARCHIVED, VISITOR_CHECKIN_IN_PROGRESS, VISITOR_ALREADY_CHECKED_IN, NO_AVAILABLE_BADGES }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '428':
          description: A precondition must be satisfied first. `code` ∈ { REVIEW_REQUIRED, VISITOR_NOT_AVAILABLE }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Per-location check-in queue is at capacity (`CHECKIN_QUEUE_FULL`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Failed to evaluate visitor check-in state (`INTERNAL`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Check-in queue unavailable (`CHECKIN_UNAVAILABLE`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
  /visitors/{id}/checkin:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visitor id.
        schema:
          type: string
    post:
      operationId: checkInVisitor
      summary: Check in a visitor
      description: One-call front-desk check-in for a selected visitor. The server consumes the visitor's closest matchable scheduled visit if one exists, otherwise creates an ad-hoc visit, runs the check-in gates, optionally attaches a photo, and enqueues the badge render/encode pipeline. Returns `202` with the queued visit; progress is async via the visit's `checkin_status`. A matched scheduled visit keeps its pre-arranged host, so `host_*` fields apply only to the ad-hoc fallback path. `Idempotency-Key` is REQUIRED.
      tags:
        - Visits
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          description: Idempotency key; required so retries are safe.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInRequest'
      responses:
        '202':
          description: Check-in accepted and queued; the updated visit is returned with `checkin_status=queued` and a `job_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitEnvelope'
        '400':
          description: Invalid body, missing required field, or host resolution failure. `code` ∈ { IDEMPOTENCY_REQUIRED, BAD_JSON, ORG_MISMATCH, LOCATION_REQUIRED, BUILDING_REQUIRED, HOST_RESOLUTION_FAILED, MEDIA_INVALID, MEDIA_READ_FAILED, PHOTO_ATTACH_FAILED, BAD_REQUEST }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: A check-in blocker is active or an inline host contact conflicts. `code` ∈ { VISITOR_ARCHIVED, VISITOR_CHECKIN_IN_PROGRESS, VISITOR_ALREADY_CHECKED_IN, NO_AVAILABLE_BADGES, HOST_CONTACT_CONFLICT }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: The attached check-in photo failed face validation. `code` ∈ { FACE_INDEX_NO_FACE, FACE_INDEX_QUALITY_TOO_LOW, FACE_INDEX_UNSUPPORTED_IMAGE, FACE_INDEX_FAILED }. Multiple faces are NOT blocking (the highest-confidence face is used).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '428':
          description: A precondition must be satisfied first. `code` ∈ { REVIEW_REQUIRED, BACKGROUND_CHECK_REQUIRED, VISITOR_NOT_AVAILABLE }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Per-location check-in queue is at capacity (`CHECKIN_QUEUE_FULL`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Server failed to create, enqueue, or update the check-in. `code` ∈ { INTERNAL, CHECKIN_ENQUEUE_FAILED, CHECKIN_UPDATE_FAILED }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency is unavailable. `code` ∈ { CHECKIN_UNAVAILABLE, PHOTO_ATTACH_UNAVAILABLE }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
  /checkin/scheduled:
    x-apps:
      - visitor
    get:
      operationId: listScheduledVisits
      summary: List a visitor's scheduled visits for check-in
      description: 'Keyset-paginated list of a single visitor''s matchable scheduled visits at a location — used by the front desk to pick which scheduled visit to check the visitor into. `org_id`, `location_id`, and `visitor_id` are all required: this is a per-visitor lookup, not a global arrivals feed.'
      tags:
        - Visits
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: location_id
          in: query
          required: true
          schema:
            type: string
        - name: visitor_id
          in: query
          required: true
          schema:
            type: string
        - name: building_id
          in: query
          required: false
          description: Optional building filter; `404 BUILDING_NOT_FOUND` if it does not belong to the location.
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/IncludeCount'
      responses:
        '200':
          description: A page of the visitor's scheduled visits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitListResponse'
        '400':
          description: A required query param is missing or a pagination param is malformed. `code` ∈ { ORG_ID_REQUIRED, LOCATION_REQUIRED, VISITOR_ID_REQUIRED, invalid_sort, invalid_cursor, invalid_limit, cursor_sort_mismatch }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Caller lacks scope for the org or location (`SCOPE_FORBIDDEN`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The location, building, or visitor was not found in the org. `code` ∈ { LOCATION_NOT_FOUND, BUILDING_NOT_FOUND, VISITOR_NOT_FOUND }.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: Organization scope resolver unavailable (`SCOPE_UNAVAILABLE`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
  /visits:
    x-apps:
      - visitor
    get:
      operationId: listVisits
      summary: List visits
      description: Keyset-paginated, server-sorted list of visits for an org. See api-spec.md for the full filter set.
      tags:
        - Visits
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/IncludeCount'
        - name: status
          in: query
          description: Comma-separated visit status filter (IN-list).
          schema:
            type: string
        - name: location_id
          in: query
          schema:
            type: string
        - name: building_id
          in: query
          schema:
            type: string
        - name: visitor_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: A page of visits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createVisit
      summary: Create a visit
      description: Create a scheduled/walk-up visit record. Link an existing visitor via `visitor_id`, or supply `visitor_name` for an unlinked record. `Idempotency-Key` supported.
      tags:
        - Visits
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVisitRequest'
      responses:
        '201':
          description: Visit created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /visits/{id}:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visit id.
        schema:
          type: string
    get:
      operationId: getVisit
      summary: Get a visit
      description: Fetch a single visit, including live `geofence_status`, resolved `current_floor_id`, badge URLs, and check-in worker sub-state.
      tags:
        - Visits
      responses:
        '200':
          description: The visit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /visits/{id}/assign-badge:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visit id.
        schema:
          type: string
    post:
      operationId: assignVisitBadge
      summary: Assign a badge to a visit
      description: Assign a badge device (and optional template) to the visit; triggers badge render.
      tags:
        - Visits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignBadgeRequest'
      responses:
        '200':
          description: Badge assigned; the updated visit is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /visits/{id}/checkout:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visit id.
        schema:
          type: string
    post:
      operationId: requestVisitCheckout
      summary: Request checkout of a visit
      description: Move the visit toward checkout. `force=true` overrides normal preconditions.
      tags:
        - Visits
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '200':
          description: Checkout requested; the updated visit is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /visits/{id}/complete:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visit id.
        schema:
          type: string
    post:
      operationId: completeVisit
      summary: Complete a visit
      description: Mark the visit complete (terminal success state).
      tags:
        - Visits
      responses:
        '200':
          description: Visit completed; the updated visit is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /visits/{id}/cancel:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visit id.
        schema:
          type: string
    post:
      operationId: cancelVisit
      summary: Cancel a visit
      description: Cancel the visit (terminal cancelled state).
      tags:
        - Visits
      responses:
        '200':
          description: Visit cancelled; the updated visit is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /visits/{id}/rerender-badge:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visit id.
        schema:
          type: string
    post:
      operationId: rerenderVisitBadge
      summary: Re-render the visit badge
      description: Force a re-render (and re-encode) of the assigned badge image for the visit.
      tags:
        - Visits
      responses:
        '200':
          description: Badge re-rendered; the updated visit is returned (badge URLs / errors refreshed).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /visits/{id}/events:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Visit id.
        schema:
          type: string
    get:
      operationId: listVisitEvents
      summary: List a visit's timeline events
      description: |-
        Keyset-paginated visit timeline (`device.status`, check-in transitions, geofence transitions, etc.). This endpoint disallows `?include_count` (count-not-supported). Optional `?type=` filters to a single event type.

        Event types include the lifecycle transitions plus the geofence detection pair (emitted by `runGeofenceDetection` at solve ingest):
        - `geofence_entry` — the visit's badge entered a geofence feature.
        - `geofence_exit` — the visit's badge left a geofence feature; also flips the
          sticky `flags.geofence_breach` on the visit and may fire a
          `host.geofence_breach` notification.


        For `geofence_entry` / `geofence_exit`, the `payload` matches `GeofenceEventPayload`. First-observation is suppressed (a badge that fires its first solve already inside a zone emits no `enter` event).
      tags:
        - Visits
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: type
          in: query
          description: Filter to a single event type (e.g. `geofence_exit`).
          schema:
            type: string
      responses:
        '200':
          description: A page of visit events.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: A visit-timeline event. `additionalProperties` is open because the event set is heterogeneous and still expanding.
                      properties:
                        id:
                          type: string
                        visit_id:
                          type: string
                        type:
                          type: string
                          description: 'Event type. Known geofence values: `geofence_entry`, `geofence_exit`. Other lifecycle/device types also appear here.'
                        actor_id:
                          type: string
                        actor_type:
                          type: string
                          description: e.g. `system` for detector-emitted geofence events.
                        payload:
                          description: Type-specific data. For `geofence_entry` / `geofence_exit` this conforms to `GeofenceEventPayload`; other event types carry their own open object.
                          anyOf:
                            - $ref: '#/components/schemas/GeofenceEventPayload'
                            - type: object
                              additionalProperties: true
                        occurred_at:
                          type: string
                          format: date-time
                          description: When the event occurred (the solve timestamp for geofence events, not the row's write time).
                        created_at:
                          type: string
                          format: date-time
                      additionalProperties: true
                  meta:
                    $ref: '#/components/schemas/PageMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/stations:
    x-apps:
      - visitor
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listStations
      summary: List stations
      description: 'Check-in stations for an org, filtered to the caller''s scope (front_desk+). Front-desk clients use this to pick the operating station: `station_id` on check-in/preflight scopes badge-pool selection to that station''s badges (or unassigned ones).'
      tags:
        - Devices
      responses:
        '200':
          description: Stations visible to the caller.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Station'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /orgs/{orgID}/host-contacts:
    x-apps:
      - visitor
    parameters:
      - name: orgID
        in: path
        required: true
        description: Organization id.
        schema:
          type: string
    get:
      operationId: listHostContacts
      summary: List host contacts
      description: Keyset-paginated org host-contact directory (front_desk+). Rows return `phone_masked` only — unmasked phone is on the detail endpoint.
      tags:
        - Host Contacts
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/IncludeCount'
        - name: q
          in: query
          description: Name or email prefix search.
          schema:
            type: string
        - name: phone_e164
          in: query
          description: E.164 prefix match.
          schema:
            type: string
        - name: notify_via
          in: query
          schema:
            type: string
            enum:
              - email
              - sms
              - both
        - name: notify_on_check_in
          in: query
          schema:
            type: boolean
        - name: sms_consent_status
          in: query
          schema:
            type: string
        - name: sms_opted_out
          in: query
          schema:
            type: boolean
        - name: email_unsubscribed
          in: query
          schema:
            type: boolean
        - name: has_user_link
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: A page of host-contact rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostContactListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/host-contacts/suggest:
    x-apps:
      - visitor
    parameters:
      - name: orgID
        in: path
        required: true
        description: Organization id.
        schema:
          type: string
    get:
      operationId: suggestHostContacts
      summary: Suggest hosts for visit creation
      description: Two-tier host suggestions (visitor's prior hosts + location hosts), PII masked. front_desk+; gated by the `host_contact_suggest_enabled` org setting.
      tags:
        - Host Contacts
      parameters:
        - name: q
          in: query
          description: Optional search term to bias suggestions.
          schema:
            type: string
      responses:
        '200':
          description: Two-tier suggestions.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/HostContactSuggestResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/host-contacts/{hostContactID}:
    x-apps:
      - visitor
    parameters:
      - name: orgID
        in: path
        required: true
        description: Organization id.
        schema:
          type: string
      - name: hostContactID
        in: path
        required: true
        description: Host contact id.
        schema:
          type: string
    get:
      operationId: getHostContact
      summary: Get a host contact
      description: Full detail incl. unmasked `phone_e164` (front_desk+). Cross-org access returns 404 (anti-leak).
      tags:
        - Host Contacts
      responses:
        '200':
          description: The host contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostContactDetailEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /notifications:
    x-apps:
      - visitor
    get:
      operationId: listNotifications
      summary: List notifications
      description: Keyset-paginated notifications for the authenticated user in an org. `since_id` (forward polling) is mutually exclusive with `cursor`.
      tags:
        - Notifications
      parameters:
        - name: org_id
          in: query
          description: Org to scope to.
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/IncludeCount'
        - name: type
          in: query
          schema:
            type: string
        - name: severity
          in: query
          schema:
            type: string
            enum:
              - info
              - success
              - warning
              - error
        - name: unread
          in: query
          schema:
            type: boolean
        - name: since_id
          in: query
          description: Return notifications newer than this id (forward polling). Not combinable with cursor.
          schema:
            type: string
      responses:
        '200':
          description: A page of notifications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notifications/stream-ticket:
    x-apps:
      - visitor
    post:
      operationId: createNotificationStreamTicket
      summary: Mint a notification stream ticket
      description: Mint a short-lived ticket for the SSE stream (the EventSource API can't send Authorization headers, so the stream authenticates via this ticket).
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - org_id
              properties:
                org_id:
                  type: string
      responses:
        '200':
          description: A stream ticket (snake_case).
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    properties:
                      ticket:
                        type: string
                      expires_at:
                        type: string
                        format: date-time
                      stream_url:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /notifications/stream:
    x-apps:
      - visitor
    get:
      operationId: notificationStream
      summary: Stream notifications (SSE)
      description: Server-Sent Events stream of live notifications. Authenticates via a `ticket` query param (from the stream-ticket endpoint) rather than a bearer header.
      tags:
        - Notifications
      security: []
      parameters:
        - name: ticket
          in: query
          required: true
          description: Stream ticket from POST /v1/notifications/stream-ticket.
          schema:
            type: string
      responses:
        '200':
          description: An event stream.
          content:
            text/event-stream:
              schema:
                type: string
                description: SSE frames; each `data:` line is a JSON notification event.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notifications/{id}/read:
    x-apps:
      - visitor
    parameters:
      - name: id
        in: path
        required: true
        description: Notification id.
        schema:
          type: string
    post:
      operationId: markNotificationRead
      summary: Mark a notification read
      description: Mark a single notification as read for the calling user.
      tags:
        - Notifications
      responses:
        '204':
          description: Marked read.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /notifications/read:
    x-apps:
      - visitor
    post:
      operationId: markNotificationsRead
      summary: Mark notifications read (bulk)
      description: Mark a batch of notifications as read for the calling user.
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        '204':
          description: Marked read.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /metrics:
    x-apps:
      - visitor
    get:
      operationId: getMetrics
      summary: Aggregate dashboard metrics
      description: Aggregate metrics for an org/scope, selected by `presets`. Response is a per-preset object whose shape is modelled provisionally here (large and preset-dependent) and will be frozen before build start.
      tags:
        - Metrics
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: location_id
          in: query
          schema:
            type: string
        - name: division_id
          in: query
          schema:
            type: string
        - name: building_id
          in: query
          schema:
            type: string
        - name: presets
          in: query
          description: 'Comma-separated: visitors, tracking, devices, ops (badges_devices deprecated).'
          schema:
            type: string
        - name: tz
          in: query
          description: IANA timezone for day-bucketed aggregates.
          schema:
            type: string
      responses:
        '200':
          description: Aggregate metrics (provisional shape).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /metrics/checkin-ops:
    x-apps:
      - visitor
    get:
      operationId: getCheckinOpsMetrics
      summary: Check-in worker counters
      description: In-process check-in worker counters (per-process, not persisted). Response shape modelled PROVISIONALLY.
      tags:
        - Metrics
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: location_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Worker counters (provisional shape).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /metrics/timeseries:
    x-apps:
      - visitor
    get:
      operationId: getTimeseries
      summary: Historical metric timeseries
      description: Historical aggregated buckets for a metric over `[from, to)`. Response shape modelled provisionally and will be frozen before build start. Use `exclude_live` to drop the current partial bucket.
      tags:
        - Metrics
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: metric
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: location_id
          in: query
          schema:
            type: string
        - name: building_id
          in: query
          schema:
            type: string
        - name: division_id
          in: query
          schema:
            type: string
        - name: tz
          in: query
          schema:
            type: string
        - name: exclude_live
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Timeseries buckets (provisional shape).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    additionalProperties: true
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /metrics/timeseries/live:
    x-apps:
      - visitor
    get:
      operationId: getTimeseriesLive
      summary: Live metric timeseries tail
      description: Live tail of a metric's buckets, polling forward from `after`. Response shape modelled provisionally and will be frozen before build start.
      tags:
        - Metrics
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
        - name: metric
          in: query
          required: true
          schema:
            type: string
        - name: after
          in: query
          schema:
            type: string
            format: date-time
        - name: location_id
          in: query
          schema:
            type: string
        - name: building_id
          in: query
          schema:
            type: string
        - name: division_id
          in: query
          schema:
            type: string
        - name: tz
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Live timeseries tail (provisional shape).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    additionalProperties: true
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orgs/{orgID}/badge-swipes:
    x-apps:
      - visitor
    parameters:
      - name: orgID
        in: path
        required: true
        description: Organization id.
        schema:
          type: string
    get:
      operationId: listBadgeSwipes
      summary: List badge swipes
      description: Keyset-paginated RFID reader swipe records for an org (front_desk+). Rows are ingest-time snapshots. Times use the half-open `[swiped_after, swiped_before)` convention.
      tags:
        - Badge Swipes
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/IncludeCount'
        - name: reader_device_id
          in: query
          schema:
            type: string
        - name: badge_device_id
          in: query
          schema:
            type: string
        - name: division_id
          in: query
          schema:
            type: string
        - name: location_id
          in: query
          schema:
            type: string
        - name: building_id
          in: query
          schema:
            type: string
        - name: zone_id
          in: query
          schema:
            type: string
        - name: rfid
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: visitor_id
          in: query
          schema:
            type: string
        - name: swiped_after
          in: query
          schema:
            type: string
            format: date-time
        - name: swiped_before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A page of badge swipes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgeSwipeListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/badge-swipes/export.csv:
    x-apps:
      - visitor
    parameters:
      - name: orgID
        in: path
        required: true
        description: Organization id.
        schema:
          type: string
    get:
      operationId: exportBadgeSwipes
      summary: Export badge swipes as CSV
      description: CSV export with the same filters as the list endpoint (location_admin+). Bounded by a 50k row cap; the applied cap is echoed in the `X-Row-Cap` header.
      tags:
        - Badge Swipes
      parameters:
        - name: reader_device_id
          in: query
          schema:
            type: string
        - name: badge_device_id
          in: query
          schema:
            type: string
        - name: division_id
          in: query
          schema:
            type: string
        - name: location_id
          in: query
          schema:
            type: string
        - name: building_id
          in: query
          schema:
            type: string
        - name: zone_id
          in: query
          schema:
            type: string
        - name: rfid
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: visitor_id
          in: query
          schema:
            type: string
        - name: swiped_after
          in: query
          schema:
            type: string
            format: date-time
        - name: swiped_before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: CSV export.
          headers:
            X-Row-Cap:
              description: Row cap applied to the export (max 50000).
              schema:
                type: integer
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listFloors
      summary: List floors
      description: Floors/zones for an org.
      tags:
        - Mapping
      responses:
        '200':
          description: Floors.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Floor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createFloor
      summary: Create a floor
      description: Create a floor/zone. `label` + `building_id` required.
      tags:
        - Mapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Floor'
      responses:
        '201':
          description: Floor created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Floor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getFloor
      summary: Get a floor
      description: Fetch a floor/zone.
      tags:
        - Mapping
      responses:
        '200':
          description: The floor.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Floor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateFloor
      summary: Update a floor
      description: Update a floor/zone.
      tags:
        - Mapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Floor'
      responses:
        '200':
          description: The updated floor.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Floor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteFloor
      summary: Delete a floor
      description: Delete a floor/zone.
      tags:
        - Mapping
      responses:
        '204':
          description: Floor deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/geofence:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getFloorGeofence
      summary: Get a floor's geofence
      description: The floor's geofence. Returns 204 (with X-Resource-Status) when none is configured.
      tags:
        - Mapping
      responses:
        '200':
          description: The geofence.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Geofence'
        '204':
          description: No geofence configured for this floor.
          headers:
            X-Resource-Status:
              $ref: '#/components/headers/XResourceStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: upsertFloorGeofence
      summary: Upsert a floor's geofence
      description: Create or replace the floor's geofence (GeoJSON).
      tags:
        - Mapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeofenceUpdateRequest'
      responses:
        '200':
          description: The upserted geofence.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Geofence'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/routes:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listRoutes
      summary: List routes on a floor
      description: Navigation routes for a floor/zone.
      tags:
        - Mapping
      responses:
        '200':
          description: Routes.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Route'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createRoute
      summary: Create a route
      description: Create a navigation route on a floor/zone. `name` required.
      tags:
        - Mapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteWriteRequest'
      responses:
        '201':
          description: Route created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Route'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/routes/{routeID}:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: routeID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getRoute
      summary: Get a route
      description: Fetch a single route.
      tags:
        - Mapping
      responses:
        '200':
          description: The route.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Route'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRoute
      summary: Update a route
      description: Update a route's name / description / status / meta.
      tags:
        - Mapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteWriteRequest'
      responses:
        '200':
          description: The updated route.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Route'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteRoute
      summary: Delete a route
      description: Delete a route (cascades to its versions/waypoints).
      tags:
        - Mapping
      responses:
        '204':
          description: Route deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/fingerprints/summary:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getFloorFingerprintSummary
      summary: Floor fingerprint coverage summary
      description: Per-waypoint fingerprint counts + last-captured timestamps for a floor.
      tags:
        - Mapping
      responses:
        '200':
          description: Per-waypoint summaries.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FingerprintSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/calibration-sessions:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: createCalibrationSession
      summary: Start a calibration session
      description: Begin a fingerprint-capture calibration session for a route on this floor.
      tags:
        - Mapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalibrationSessionCreateRequest'
      responses:
        '201':
          description: Calibration session started.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CalibrationSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/calibration-sessions/{sessionID}:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getCalibrationSession
      summary: Get a calibration session
      description: Fetch a calibration session.
      tags:
        - Mapping
      responses:
        '200':
          description: The calibration session.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CalibrationSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/calibration-sessions/{sessionID}/complete:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: completeCalibrationSession
      summary: Complete a calibration session
      description: Mark a calibration session complete (finalizes its captured fingerprints).
      tags:
        - Mapping
      responses:
        '200':
          description: The completed session.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CalibrationSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orgs/{orgID}/floors/{floorID}/calibration-sessions/{sessionID}/abandon:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: abandonCalibrationSession
      summary: Abandon a calibration session
      description: Abandon an in-progress calibration session.
      tags:
        - Mapping
      responses:
        '200':
          description: The abandoned session.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CalibrationSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orgs/{orgID}/floors/{floorID}/calibration-sessions/{sessionID}/progress:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getCalibrationSessionProgress
      summary: Get calibration session progress
      description: Live capture progress for a calibration session (samples captured per waypoint vs. target). Response shape PROVISIONAL.
      tags:
        - Mapping
      responses:
        '200':
          description: Progress (provisional shape).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    additionalProperties: true
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/calibration-sessions/{sessionID}/fingerprints:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteSessionFingerprints
      summary: Delete a session's captured fingerprints
      description: Discard all fingerprints captured during a calibration session (e.g. on redo).
      tags:
        - Mapping
      responses:
        '204':
          description: Session fingerprints deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/routes/{routeID}/versions:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: routeID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: listRouteVersions
      summary: List a route's versions
      description: Versions of a route (one is active at a time).
      tags:
        - Mapping
      responses:
        '200':
          description: Route versions.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RouteVersion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createRouteVersion
      summary: Create a route version
      description: Create a new (draft) version of a route.
      tags:
        - Mapping
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteVersionCreateRequest'
      responses:
        '201':
          description: Route version created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/RouteVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/routes/{routeID}/versions/{versionID}:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: routeID
        in: path
        required: true
        schema:
          type: string
      - name: versionID
        in: path
        required: true
        schema:
          type: string
    delete:
      operationId: deleteRouteVersion
      summary: Delete a route version
      description: Delete a route version (and its waypoints/fingerprints). The active version may be protected.
      tags:
        - Mapping
      responses:
        '204':
          description: Route version deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orgs/{orgID}/floors/{floorID}/routes/{routeID}/versions/{versionID}/activate:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: routeID
        in: path
        required: true
        schema:
          type: string
      - name: versionID
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: activateRouteVersion
      summary: Activate a route version
      description: Make this version the active one for the route (deactivates the previous active version).
      tags:
        - Mapping
      responses:
        '200':
          description: The activated version.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/RouteVersion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orgs/{orgID}/floors/{floorID}/routes/{routeID}/versions/{versionID}/fingerprints/export:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: routeID
        in: path
        required: true
        schema:
          type: string
      - name: versionID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: exportRouteVersionFingerprints
      summary: Export a version's fingerprints (solver format)
      description: All fingerprints for a route version in the solver-consumable shape (CSI base64, RSSI map).
      tags:
        - Mapping
      responses:
        '200':
          description: Solver-format fingerprints.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SolverFingerprint'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/routes/{routeID}/versions/{versionID}/calibration-session/mine:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
        required: true
        schema:
          type: string
      - name: routeID
        in: path
        required: true
        schema:
          type: string
      - name: versionID
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getMyActiveCalibrationSessionForVersion
      summary: Get my active calibration session for a version
      description: The caller's in-progress calibration session for this route version, if any (204 when none).
      tags:
        - Mapping
      responses:
        '200':
          description: The caller's active session.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CalibrationSession'
        '204':
          description: No active session for the caller on this version.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /orgs/{orgID}/floors/{floorID}/routes/{routeID}/waypoints:
    x-apps:
      - mapping
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
      - name: floorID
        in: path
[...]
